{% extends 'partials/base2.html' %}
{% load static %}
{% block content %}
        <!-- # site-content
        ================================================== -->
        <div id="content" class="s-content s-content--blog">

                <div class="row entry-wrap">
                    <div class="column lg-12">

                        <article class="entry format-standard">

                            <header class="entry__header">
    
                                <h1 class="entry__title">
                                    {{post.title}}
                                </h1>

                                <div class="entry__meta">
                                    <div class="entry__meta-author">
                                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <circle cx="12" cy="8" r="3.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.8475 19.25H17.1525C18.2944 19.25 19.174 18.2681 18.6408 17.2584C17.8563 15.7731 16.068 14 12 14C7.93201 14 6.14367 15.7731 5.35924 17.2584C4.82597 18.2681 5.70558 19.25 6.8475 19.25Z"></path>
                                        </svg>
                                        <a href="#">{{post.author}}</a> 
                                    </div>
                                    <div class="entry__meta-date">
                                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <circle cx="12" cy="12" r="7.25" stroke="currentColor" stroke-width="1.5"></circle>
                                            <path stroke="currentColor" stroke-width="1.5" d="M12 8V12L14 14"></path>
                                        </svg>
                                        {{post.publish}} 
                                    </div>
                                    <div class="entry__meta-cat">
                                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 17.25V9.75C19.25 8.64543 18.3546 7.75 17.25 7.75H4.75V17.25C4.75 18.3546 5.64543 19.25 6.75 19.25H17.25C18.3546 19.25 19.25 18.3546 19.25 17.25Z"></path>
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.5 7.5L12.5685 5.7923C12.2181 5.14977 11.5446 4.75 10.8127 4.75H6.75C5.64543 4.75 4.75 5.64543 4.75 6.75V11"></path>
                                        </svg>
                                          
                                        <span class="cat-links">
                                            <a href="#0">{{post.category}}</a>
                                        </span>
                                    </div>
                                </div>
                            </header>

                            {% comment %} <div class="entry__media">
                                <figure class="featured-image">
                                    <img src="{% static 'images/thumbs/single/standard-1200.jpg' %}" 
                                      srcset="images/thumbs/single/standard-2400.jpg 2400w, 
                                              images/thumbs/single/standard-1200.jpg 1200w, 
                                              images/thumbs/single/standard-600.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                                </figure>
                            </div> {% endcomment %}

                            <div class="content-primary">

                                <div class="entry__content">
                                    <p class="drop-cap">
                                    {{post.content }}
                                    </p>
            

                                    <p class="entry__tags">
                                        <strong>Tags:</strong>
                    
                                        <span class="entry__tag-list">
                                            <a href="#0">orci</a>
                                            <a href="#0">lectus</a>
                                            <a href="#0">varius</a>
                                            <a href="#0">turpis</a>
                                        </span>
                        
                                    </p>
    
                                    <div class="entry__author-box">
                                        <figure class="entry__author-avatar">
                                            <img alt="" src="{% static 'images/avatars/user-06.jpg' %}" class="avatar">
                                        </figure>
                                        <div class="entry__author-info">
                                            <h5 class="entry__author-name">
                                                <a href="#0">
                                                    Naruto Uzumaki
                                                </a>
                                            </h5>
                                            <p>
                                            Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, 
                                            a pharetra augue laboris in sit minim cupidatat ut dolor voluptate enim veniam 
                                            consequat occaecat.
                                            </p>
                                        </div>
                                    </div>

                                </div> <!-- end entry-content -->

                                <div class="post-nav">
                                    <div class="post-nav__prev">
                                        <a href="single-standard.html" rel="prev">
                                            <span>Prev</span>
                                            The Pomodoro Technique Really Works. 
                                        </a>
                                    </div>
                                    <div class="post-nav__next">
                                        <a href="single-standard.html" rel="next">
                                            <span>Next</span>
                                            How Imagery Drives User Experience.
                                        </a>
                                    </div>
                                </div>

                            </div> <!-- end content-primary -->

                        </article> <!-- end entry -->

                        <!-- comments -->
                        <div class="comments-wrap">

                            {% comment %} <div id="comments">
                                <div class="large-12">
                                    {% with allcomments.count as total_comments %}
                                    <h3>{{ total_comments }} Comment{{ total_comments|pluralize }}</h3>
                                    {% endwith %}
                                    <!-- START commentlist -->
                                    {% load mptt_tags %}
                                    <ol class="commentlist">

                                        {% recursetree comments %}
                                        <li class="thread-alt depth-1 comment">
                                            <div class="comment__avatar">
                                                <img class="avatar" src="{% static 'images/avatars/user-04.jpg' %}" alt="" width="50" height="50">
                                            </div>

                                            <div class="comment__content" id="{{ node.id }}">

                                                <div class="comment__info">
                                                    <div class="comment__author">{{ node.name }}</div>

                                                    <div class="comment__meta">
                                                        <div class="comment__time">{{ node.publish }}</div>
                                                        <div class="comment__reply">
                                                            {% if node.level < 3 %}
                                                            <a class="comment-reply-link" href="#0" onclick="myFunction({{ node.id }})">Reply</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="comment__text">
                                                <p>{{ node.content }}</p>
                                                </div>

                                            </div>
                                            
                                            <ul class="children">

                                                <li class="depth-2 comment">
                                                    {% if not node.is_leaf_node %}
                                                    {{children}}
                                                    {% endif %}
                                                </li>

                                            </ul>

                                        </li> <!-- end comment level 1 -->
                                        {% endrecursetree %}
                                    </ol>
                                    <!-- END commentlist -->

                                </div> <!-- end col-full -->
                            </div> <!-- end comments --> {% endcomment %}

                            {% comment %} pagination {% endcomment %}
                            {% comment %} pagination {% endcomment %}
                            {% comment %} pagination {% endcomment %}
                            <div class="row">
                
                                {% comment %} <div class="column lg-12">
                
                                    <nav class="pgn">
                                        {% if comments.has_other_pages %}
                                        <ul>
                                            {% if comments.has_previous %}
                                            <li>
                                                <a class="pgn__prev" href="?page={{ comments.previous_page_number }}">
                                                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
                                                    </svg>
                                                </a>
                                            </li>
                                            {% else %}
                                            <li>
                                                <a class="pgn__prev" href="#">
                                                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
                                                    </svg>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% for num in comments.paginator.page_range %}
                                                {% if comments.number == l %}
                                                    <li><span class="pgn__num current">{{ num }}</span></li>
                                                {% else %}
                                                    <li><a class="pgn__num" href="?page={{ num }}">{{ num }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if comments.has_next %}
                                            <li>
                                                <a class="pgn__next" href="?page={{ comments.next_page_number }}">
                                                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H4.75"></path>
                                                    </svg>
                                                </a>
                                            </li>
                                            {% else %}
                                            <li>
                                                <a class="pgn__next" href="#">
                                                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H4.75"></path>
                                                    </svg>
                                                </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                        {% endif %}
                                    </nav> <!-- end pgn -->
                                </div> {% endcomment %}
                
                            </div>
                            {% comment %} pagination {% endcomment %}
                            {% comment %} pagination {% endcomment %}
                            {% comment %} pagination {% endcomment %}


                            <div class="comment-respond">

                                <!-- START respond -->
                                <div id="respond">

                                    <h3>
                                    Add Comment 
                                    <span>Your email address will not be published.</span>
                                    </h3>

                                    {% comment %} <form name="contactForm" id="contactForm" method="post" action="." autocomplete="off">
                                        {% csrf_token %}
                                        <fieldset class="row">
                                            <div class="column lg-6 tab-12 form-field">
                                                {{ comment_form.name }}
                                            </div>

                                            <div class="column lg-6 tab-12 form-field">
                                                {{ comment_form.email }}
                                            </div>


                                            <div class="column lg-12 message form-field">
                                                {{ comment_form.content }}
                                            </div>

                                            <div class="column lg-12">
                                                <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large u-fullwidth" value="Add Comment" type="submit">
                                            </div>

                                        </fieldset>
                                    </form> <!-- end form --> {% endcomment %}

                                </div>
                                <!-- END respond-->

                            </div> <!-- end comment-respond -->

                        </div> <!-- end comments-wrap -->

                    </div>
                </div> <!-- end entry-wrap -->
        </section> <!-- end s-content -->
        {% comment %} <script>
            function formExit() {
              document.getElementById("newForm").remove();
            }
          
            function myFunction(id) {
              if (document.contains(document.getElementById("newForm"))) {
                document.getElementById("newForm").remove();
              }
          
              var d1 = document.getElementById(id);
              d1.insertAdjacentHTML('afterend',
                '<form id="newForm" class="form-insert py-2" method="post"> \
                          <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
                          <label for="id_name">Name:</label> \
                          <input type="text" name="name" class="col-sm-12" maxlength="50" required="" id="id_name">\
                          <select name="parent" class="d-none" id="id_parentt"> \
                          <option value="' + id + '" selected="' + id + '"></option> \
                          </select> \
                          <label for="id_email">Email:</label> \
                          <input type="text" name="email" class="col-sm-12" maxlength="254" required="" id="id_email"> \
                          <label for="id_content">Content:</label> \
                          <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                          {% csrf_token %} \
                          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
                        </form>');
          
              //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
            }
          
            $('#myForm').trigger("reset");
        </script> {% endcomment %}
{% endblock content %}